body{
  font-size: 13px;
  position: relative;
  /* font-weight: 200; */
}


th, td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rxc-status-table{
  width: 200px;
  height:70px;
  display: inline-block;
}

tr:hover {background-color:#f5f5f5;}

.topbar{
  z-index:10;
  background: 	#2F4F4F;
  position:fixed;
  top: 0;
  width: 100%
}
.row{
  width: 100%;
}

.rxc-status-table td{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
#OnOff-table{
  display: none;
}

.form-group{
  width: 300px;
  margin-left:auto;}

li a:hover{
  color: #e6e6e6;
  text-decoration: none;
}

li a:focus{
  color: #e6e6e6;
  text-decoration: none;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
li {
  float: right;
  list-style-type: none;

}
.indicator p{
  font-size:15px;

}
.indicator{
  width: 140px;
  height: 53px;
  background-color: white;
  border: 0px solid #dddddd;
  margin: 0 5px 5px 0;
  color: white;
  font-size: 16px; 
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  float:left;
  /* line-height: 55px; */
}
#show-status,
#show-error{
  float:right;
  border: none;
  color: white;
  padding: 0.2% 0.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}

#show-status{
  background-color: orange; /* red */

}
#show-error{
  background-color: #1E90FF; /* red */
}


#acu-params{
  visibility: hidden;
  float:left; 
  /* display: flex; */
  width: 100%;
}

.indicator-title{
  font-size: 14px;
}

#acu-indicator-container-1{
  width: 100%;
}
#acu-indicator-container-2{
  margin-top: 3%;
  padding-right:1%;
  display: inline-block;
  float:left;
}
#acu-indicator-container-3{
  margin-top: 3%;
  display: inline-block;
  float:left;
}
#acu-indicator-container-4{
  padding-left:1%;
  margin-top: 3%;
  float:left;
}
#acu-wrapper{
  padding-top: none;
}

.acu-numbers{
  width: 120px;
  text-align: center;
}
.acu-offset-numbers{
  width: 195px;
  text-align: center;
}


#meteo-data,
#rxc-data,
#acu-data,
#ln-data,
#page-wrappe,
.container-fluid{
  width: 100%;
  padding: 0 5% 0 5%;
}
#meteo-data{
  overflow: hidden;
  background: #F8FCFF;
}

#acu-data{
  overflow-x: hidden;
  background: #FFFEFA;
}
.page-wrappe{
  background: #F8F8F8;
}

#indicator-container{
  margin-top:2%;
  float:left;
  width:720px;
}

#card{
  width: 100%;
  height: 190px;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  overflow: hidden;
}

.card-block{
  background: #ffffff;
}
table, th, td{
  border: none;
  background-color:	#F5F5F5;
  border-radius: 10px;

}
#alert-label{
  background-color:	#F5F5F5;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  margin: auto;

}


th{
  font-weight: 300;
}
.table-heading{
  font-weight: bold;
}


#rxc-container{
  display: inline-block;
}

#alarm-contents{
  display:none;

}


#alarm-container{
  margin: auto;
  width: 650px;
  padding: 20px;
  /* border: 1px solid grey; */
}

.alarm-text-ind{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  width: 120px;
  height: 110px;
  /* border: 1px solid green; */


}
#hideshow{
  float:right;
  border-radius: 20px;
 
}

.onoff-btn{
  width: 80px;
  display: inline-block;
  text-align: center;
}





.btn {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 22px;
  line-height: 55px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
 }

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}



.tooltiptext {
  visibility: visible;
  width: 120px;
  height: 60px;
  /* background-color: black; */
  color: black;
  font-weight: 400;
  text-align: center;
  border-radius: 6px;
  /* padding: 5px 0; */
  position: relative;

  /* Position the tooltip */
  margin-top: 50px;
  margin-left: -38px;



}

.alarm-indicator:hover .tooltiptext {
  visibility: visible;
}


.alarm-indicator{
    margin: auto;
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid grey;
    background: grey;                                         /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, grey, white); /* Standard syntax (must be last) */
}


#error-area{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  position: relative;
  z-index: 3;

}





html, body {height: 100%;}

#more-button {
    background-color: #0d41c7;
    background: linear-gradient(to bottom right, #0d41c7, #1e90ff); /* Standard syntax (must be last) */
    border: none;
    color: white;
    padding: 0.2% 0.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    width: 120px;
}

.range-button {
  background-color: #006600; /* Green */
  background: linear-gradient(to bottom right, #137d00, #4cc200); /* Standard syntax (must be last) */
  border: none;
  color: white;
  padding: 0.2% 0.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}
.telescope-button{
  float: right;
}
.telescope-button {
  background-color:  #ff9900;/* Green */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a p {
  color: white;
}


.submit-button {
  background-color: #f44336; /* red */
  background: linear-gradient(to bottom right, #cc0000,#e37373); /* Standard syntax (must be last) */
  border: none;
  color: white;
  padding: 0.2% 0.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}
#onoff-container{
  margin: auto;
  width: 800px;;
  padding: 20px;
}

.right-line-chart-container{
  width: 50%;
  float:right;
  overflow:hidden;
}
.left-line-chart-container{
  width: 50%;
  float:left;
  overflow:hidden;
}

.card{
  width: 100%;
  display: inline-block; 
}

@media (max-width: 699px) {
  .chart-canvas{
    width:800px;
  }
  .right-line-chart-container{
    width: 100%;
    float:none;
    overflow:hidden;
  }
  .left-line-chart-container{
    width: 100%;
    float:none;
    overflow:hidden;
  }
  .widget-app-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

/*-- ==============================================================
 Small Desktop & above all (1024px)
 ============================================================== */
@media (min-width: 1024px) {
  .page-wrapper {
    margin-left: 240px; }
  .footer {
    left: 240px; }
  }

@media (max-width: 1190px) {
  .page-wrapper {
    margin-left: 240px; }
  .footer {
    left: 240px; }


  }

  @media (max-width: 1037px) {
    #yesterday,
    #now{
      width: 170px;
    }
    
  }
  @media (max-width: 1000px) {
  #button-container{
    display: block;

  }
  #card{
    height:330px;
  }
  #more-button{
    visibility: hidden;
  }

  }





@media (max-width: 1023px) {
  .chart-canvas{
    width:650px;
  }
  .right-line-chart-container{
    width: 100%;
    float:none;
    overflow:hidden;
  }
  .left-line-chart-container{
    width: 100%;
    float:none;
    overflow:hidden;
  }
}
  @media (max-width: 400px) {
   .chart-canvas{
     width:200px;
   }
   li a {
    padding: 0;
   }

   .row{
     width: 100%;
   }
   .right-line-chart-container{
     width: 100%;
     float:none;
     overflow:hidden;
   }
   .left-line-chart-container{
     width: 100%;
     float:none;
     overflow:hidden;
   }
  }
  @media (max-width: 767px) {
   .chart-canvas{
     width:500px;
   }

   .card{
     width: 100%;
   }
   #card{
    height: 350px;
  }

   .right-line-chart-container{
     width: 100%;
     float:none;
     overflow:hidden;
   }
   .left-line-chart-container{
     width: 100%;
     float:none;
     overflow:hidden;
   }
  }
